---
import Layout from '../layouts/Layout.astro';
import { verificarToken } from '@/utils/auth.js';

const usuario = verificarToken(Astro.request);
if (!usuario) {
    return Astro.redirect('/login');
}
if (usuario.rol !== 'admin') {
    return Astro.redirect('/'); 
}
---

<Layout>
    <h1>CARGAS DE FACTURAS</h1>

    <table>
        <thead id="thead">
            <tr>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Monto Factura</th>
                <th>Agregados sin existencia previa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="lista">
        </tbody>
    </table>

    <div id="mensaje"></div>
</Layout>

<script>

    import  { noRegistros } from '@/utils/helpers/mensajes.js';
    import { cambioUSDaCOP } from "@/utils/helpers/cambioMoneda.js";
    import { formatearFecha } from '@/utils/helpers/formateoFecha.js';

    interface Carga {
        id: number;
        fecha: string;
        proveedor: string;
        monto_total: number;
        productos_agregados: number;
    }

    document.addEventListener('DOMContentLoaded', async () => {
        
        const thead = document.getElementById('thead') as HTMLTableSectionElement;
        const lista = document.getElementById('lista') as HTMLTableSectionElement;

        try {
            const respuesta = await fetch('/api/cargas/');
            const datos : Carga[] = await respuesta.json();

            if (respuesta.status === 202) {
                thead.style.display = "none";
                noRegistros("No hay cargas de facturas registradas");
                return;
            }

            // Obtener tasa de cambio
            const tasaCambio = await cambioUSDaCOP();   

            // Mostrar las cargas en la tabla
            thead.style.display = "thead-table-group";

            datos.forEach(carga => {

                const fila = document.createElement('tr');

                fila.innerHTML = `
                    <td data-label="Fecha">${formatearFecha(carga.fecha)}</td>
                    <td data-label="Proveedor">${carga.proveedor.toUpperCase()}</td>
                    <td data-label="Monto Factura">
                        ${carga.monto_total.toFixed(2)} USD
                        <br />
                        ${carga.monto_total * tasaCambio} COP
                    </td>
                    <td data-label="Productos Agregados">${carga.productos_agregados}</td>
                `;

                // Botones de acciones
                const tdAcciones = document.createElement('td');
                tdAcciones.classList.add('acciones');

                // Boton de detalles
                const btnDetalles = document.createElement('button');
                btnDetalles.classList.add('btn-detalles');
                btnDetalles.textContent = 'Ver Detalles';

                btnDetalles.onclick = async () => {
                    window.location.href = `/cargas/${carga.id}`;
                }

                tdAcciones.appendChild(btnDetalles);
                fila.appendChild(tdAcciones);
                lista.appendChild(fila);
            });
            
        } catch (error) {
            console.error(error);
        }
    });

</script>